In [39]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [40]:
df = pd.read_csv('Retail_Sales_Data_Ananlysis.csv')

In [41]:
df.head()

,Unnamed: 0,CustomerID,Gender,Customer_City,ProductName,Category,SubCategory,UnitPrice,CostPrice,Date,Quantity,Discount,PaymentMethod,StoreName,Store_City,Region
0,0,C001,M,Osborneport,Like Camera,Electronics,Camera,1673.69,1323.38,2025-06-28,2,0.00,Bank Transfer,MegaMart Jimenezborough,Jimenezborough,South
1,1,C001,M,Osborneport,Like Camera,Electronics,Camera,1673.69,1323.38,2023-12-21,3,0.05,Mobile Money,MegaMart Peckmouth,Peckmouth,East
2,2,C001,M,Osborneport,Audience Television,Electronics,Television,818.76,527.62,2025-06-28,3,0.05,Bank Transfer,MegaMart Jimenezborough,Jimenezborough,South
3,3,C001,M,Osborneport,Audience Television,Electronics,Television,818.76,527.62,2024-04-21,3,0.05,Credit Card,MegaMart Brianahaven,Brianahaven,North
4,4,C001,M,Osborneport,Here Footwear,Fashion,Footwear,337.63,169.03,2025-03-02,1,0.10,Mobile Money,MegaMart Brianahaven,Brianahaven,North

## Droping unwanted Features

In [42]:
df.drop(columns = ['Unnamed: 0'],axis=1,inplace = True)

In [43]:
## Preview of the column

df.columns

Index(['CustomerID', 'Gender', 'Customer_City', 'ProductName', 'Category',
       'SubCategory', 'UnitPrice', 'CostPrice', 'Date', 'Quantity', 'Discount',
       'PaymentMethod', 'StoreName', 'Store_City', 'Region'],
      dtype='object')

## Shape of the Data

In [44]:
df.shape

(5000, 15)

## Information of the Data

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     5000 non-null   object
 1   Gender         5000 non-null   object
 2   Customer_City  5000 non-null   object
 3   ProductName    5000 non-null   object
 4   Category       5000 non-null   object
 5   SubCategory    5000 non-null   object
 6   UnitPrice      5000 non-null   float64
 7   CostPrice      5000 non-null   float64
 8   Date           5000 non-null   object
 9   Quantity       5000 non-null   int64
 10  Discount       5000 non-null   float64
 11  PaymentMethod  5000 non-null   object
 12  StoreName      5000 non-null   object
 13  Store_City     5000 non-null   object
 14  Region         5000 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 586.1+ KB

## converting date column object to data

In [58]:
df['Date'] = pd.to_datetime(df['Date'])

## Missing Values

In [47]:
df.isnull().sum()

CustomerID       0
Gender           0
Customer_City    0
ProductName      0
Category         0
SubCategory      0
UnitPrice        0
CostPrice        0
Date             0
Quantity         0
Discount         0
PaymentMethod    0
StoreName        0
Store_City       0
Region           0
dtype: int64

## Duplicated Values

In [48]:
df.duplicated().sum()

0

## Checking Inconsistent Values

In [49]:
df.Gender.unique()

array(['M', 'F'], dtype=object)

In [50]:
df['Region'].unique()

array(['South', 'East', 'North', 'West'], dtype=object)

In [51]:
df['PaymentMethod'].unique()

array(['Bank Transfer', 'Mobile Money', 'Credit Card', 'Cash'],
      dtype=object)

In [52]:
df['Category'].unique()

array(['Electronics', 'Fashion', 'Groceries'], dtype=object)

In [53]:
df.Quantity.unique()

array([2, 3, 1, 5, 4], dtype=int64)

In [54]:
df.Customer_City.value_counts()

Customer_City
North Chaseborough    36
West Wandaland        36
Port Angelabury       35
New Jason             34
South Briantown       34
                      ..
Port Jacob            15
Hansonhaven           15
North Jason           15
Melissashire          15
Quinnville            12
Name: count, Length: 200, dtype: int64

In [57]:
df.to_csv('Retail_Sales_EDA.csv',index=False)

In [60]:
df.to_parquet('Cleaned.parquet',index = False)