In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_parquet('cleaned.parquet')

In [3]:
df.head()

,CustomerID,Gender,Customer_City,ProductName,Category,SubCategory,UnitPrice,CostPrice,Date,Quantity,Discount,PaymentMethod,StoreName,Store_City,Region
0,C001,M,Osborneport,Like Camera,Electronics,Camera,1673.69,1323.38,2025-06-28,2,0.00,Bank Transfer,MegaMart Jimenezborough,Jimenezborough,South
1,C001,M,Osborneport,Like Camera,Electronics,Camera,1673.69,1323.38,2023-12-21,3,0.05,Mobile Money,MegaMart Peckmouth,Peckmouth,East
2,C001,M,Osborneport,Audience Television,Electronics,Television,818.76,527.62,2025-06-28,3,0.05,Bank Transfer,MegaMart Jimenezborough,Jimenezborough,South
3,C001,M,Osborneport,Audience Television,Electronics,Television,818.76,527.62,2024-04-21,3,0.05,Credit Card,MegaMart Brianahaven,Brianahaven,North
4,C001,M,Osborneport,Here Footwear,Fashion,Footwear,337.63,169.03,2025-03-02,1,0.10,Mobile Money,MegaMart Brianahaven,Brianahaven,North

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     5000 non-null   object
 1   Gender         5000 non-null   object
 2   Customer_City  5000 non-null   object
 3   ProductName    5000 non-null   object
 4   Category       5000 non-null   object
 5   SubCategory    5000 non-null   object
 6   UnitPrice      5000 non-null   float64
 7   CostPrice      5000 non-null   float64
 8   Date           5000 non-null   datetime64[ns]
 9   Quantity       5000 non-null   int64
 10  Discount       5000 non-null   float64
 11  PaymentMethod  5000 non-null   object
 12  StoreName      5000 non-null   object
 13  Store_City     5000 non-null   object
 14  Region         5000 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(10)
memory usage: 586.1+ KB

## 1. Create Revenue

Revenue = UnitPrice × Quantity × (1 - Discount)

In [5]:
df['Revenue'] = df['UnitPrice'] * df['Quantity'] * (1 - df['Discount'])

## 2. Create Profit

Profit = (UnitPrice – CostPrice) × Quantity

In [6]:
df['Profit'] = (df['UnitPrice'] - df['CostPrice']) * df['Quantity']

## 3. Profit Margin %
Helps compare which product/category gives maximum return

In [7]:
df['ProfitMargin'] = df['Profit'] / df['Revenue'] * 100

## 4. Extract Date Features

Useful for seasonality, trend, month-wise analysis.

In [9]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Weekday'] = df['Date'].dt.day_name()
df['Quarter'] = df['Date'].dt.quarter

## 5. Price Buckets

Categorize UnitPrice : Allows comparison of high vs low priced products.

In [11]:
df['PriceRange'] = pd.cut(df['UnitPrice'],
                          bins=[0, 50, 200, 500, 2000],
                          labels=['Low', 'Medium', 'High', 'Premium'])

## 6. Discount Buckets 

Helps see profit loss due to discounts.

In [20]:
df['DiscountLevel'] = pd.cut(
    df['Discount'],
    bins=[-0.01, 0.05, 0.15, 0.30, 1.0],
    labels=['Low', 'Medium', 'High', 'Very High']
)

## 7. Total Cost

In [21]:
df['TotalCost'] = df['CostPrice'] * df['Quantity']

In [22]:
df.to_parquet("feature_enginnering.parquet")